name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: connectsoft/sigma

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login into docker.io
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: docker.io/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image dev-latest
        id: build_dev_latest
        uses: docker/build-push-action@v3.2.0
        with:
          context: latest/dev/
          platforms: linux/amd64
          push: true
          tags: ${{ env.IMAGE_NAME }}:dev-latest, ${{ env.IMAGE_NAME }}:dev-7.3
      - name: Build and push Docker image staging-latest
        id: build_staging_latest
        uses: docker/build-push-action@v3.2.0
        with:
          context: latest/staging/
          platforms: linux/amd64
          push: true
          tags: ${{ env.IMAGE_NAME }}:staging-latest, ${{ env.IMAGE_NAME }}:staging-7.3
      - name: Build and push Docker image dev-alpine3.14
        id: build_dev_alpine3_14
        uses: docker/build-push-action@v3.2.0
        with:
          context: latest/dev-alpine-3.14/
          platforms: linux/amd64
          push: true
          tags: ${{ env.IMAGE_NAME }}:dev-7.3-alpine-3.14, ${{ env.IMAGE_NAME }}:dev-alpine-latest
      - name: Build and push Docker image staging-alpine3.14
        id: build_staging_alpine3_14
        uses: docker/build-push-action@v3.2.0
        with:
          context: latest/staging-alpine3.14/
          platforms: linux/amd64
          push: true
          tags: ${{ env.IMAGE_NAME }}:staging-7.3-alpine-3.14, ${{ env.IMAGE_NAME }}:staging-alpine-latest
      - name: Sign the published Docker image
        env:
          COSIGN_EXPERIMENTAL: "true"
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: |
          cosign sign docker.io/${{ env.IMAGE_NAME }}@${{ steps.build_staging_latest.outputs.digest }};
          cosign sign docker.io/${{ env.IMAGE_NAME }}@${{ steps.build_dev_latest.outputs.digest }};
          cosign sign docker.io/${{ env.IMAGE_NAME }}@${{ steps.build_staging_alpine3_14.outputs.digest }};
          cosign sign docker.io/${{ env.IMAGE_NAME }}@${{ steps.build_dev_alpine3_14.outputs.digest }};
