name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: connect-soft/sigma

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v2
      - name: Login into docker.io
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: docker.io/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image dev-latest
        uses: docker/build-push-action@v3.2.0
        with:
          context: latest/dev/
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}, dev-latest
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push Docker image staging-latest
        uses: docker/build-push-action@v3.2.0
        with:
          context: latest/staging/
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}, staging-latest
          labels: ${{ steps.meta.outputs.labels }}
